body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Helvetica Neue-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/HelveticaNeue-Regular") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/HelveticaNeue-Medium") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.animaapp.com/HelveticaNeue-Light") format("truetype");
}

* {
  box-sizing: border-box;
}
.categorie{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
}
.box{
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

.heure{
  display: flex;
  justify-content: flex-start;
  width: 80vw;
  font-family: "Helvetica Neue-Medium";
  z-index: 99;
  margin-top: 22px;
}